web3==5.29.2
py-etherscan-api==0.8.0
python-dotenv==0.20.0
pandas==1.4.3
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
eth-abi>=5.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
eth-keyfile>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability